body {
  font-family: "Merriweather", sans-serif;
  font-size: 1rem;
}

fieldset {
  border: 0;
}

.bottom {
  background:rgb(229, 229, 233);
  padding: 20px;
}

.default {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  margin: -10px;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
}

.top {
  font-size: 15px;
  margin-top: 25px;
  text-align: center;
}

p {
  color: rgb(96, 97, 110);
  font-size: 10px;
  text-align: center;
}

.divA {
  border-bottom: 2px solid black;
  height: 1px;
}
.divB {
  border-bottom: 1px solid black;
  height: 1px;
}

h2 {
  font-size: 15px;
  text-align: left;
}

input {
  background-color: rgb(212, 213, 226);
  border-radius: 0.25em;
  border: none;
  padding: 10px 10px;
  color:rgb(30, 30, 31)
}

fieldset {
  padding: 0;
}

::placeholder {
  font-style: italic;
  text-align: right;
}

#state {
  background: rgb(212, 213, 226);
  border-color: rgb(96, 97, 110);
  border-radius: 0.25em;
  border: none;
  color: rgb(30, 30, 31);
  padding: 10px 10px;
}

input#zipcode {
  width: 50%;
}



.group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.group label {
  color: rgb(96, 97, 110);
  font-size: 0.75rem;
  margin-bottom: 10px;
}

.label {
  margin-bottom: 5px;
}

#msg {
  background-color: rgb(212, 213, 226);
  border: none;
  border-radius: 0.25em;
}

.checkbox-group,
.radio-group {
  font-size: 0.75rem;
  margin-bottom: 10px;
}

.checkbox-group label {
  position: relative;
  bottom: 2px;
}

.radio-group label {
  position: relative;
  bottom: 3px;
}

legend {
  margin-bottom: 10px;
  font-size: 0.75rem;
}

.submit {
  background-color: rgb(41, 131, 153);
  color: white;
  font-weight: 700;
  width: 100%;
}

.footer {
  font-style: italic;
}

input:focus, select:focus, textarea:focus {
  outline: 2px solid rgb(85, 85, 228);
}

input:focus {
  transform: scale(1.05);
  transition: all 2s ease;
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  width: 15px;
  height: 15px;
  padding: 3px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: #fff;
  border: 1px solid #868686;
}

input[type="radio"]:checked {
  background-color: #fff;
  border: 5px solid #0075ff;
  padding: 1px;
}


input[type="checkbox"] {
  margin-right: 10px;
}

@media (min-width: 768px) {

  main {
    width: 50%;
    margin: 0 auto;
  }

  .group {
    flex-direction: row;
      }

      .group .zip-state-label {
        width: 150px;
      } 
  .group label {
    width: 150px;
     }

  label {
    padding: 5px;
  }

  .group input {
    width: 100%;
  }

  .group #zipcode, .group #state{
    width: 100%;
  }

  #msg {
    width: 100%;
  }
.desktop-group {
  flex-direction: column;
}
.desktop-group .desktop-textarea-label {
  width: 100%;
}
}